body {
    width: 100%;
    height: 100vh;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: lime;
    text-align: center;
    overflow: auto;
    resize: both;
}

.command {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: yellow;
    text-align: center;
    overflow: auto;
    resize: both;
}

.aggregate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: deeppink;
    text-align: center;
    overflow: auto;
    resize: both;
}

.context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: white;
    border: 3px solid royalblue;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    resize: both;
}
  
.cardheader {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: move;
    text-align: left;
    border-bottom: 1px solid black;
}

.cardtitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: left;
}

.cardordem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
}

.cardeditar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url("../img/pencil.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cardexcluir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url("../img/trash.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cardbody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
