body {
    width: 100%;
    height: 100vh;
    transform: scale(1);
    transform-origin: top left;
}

input[type='file'] {
    display: none
}

#toolBar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    z-index: 100;
    transform: scale(1);
    transform-origin: top left;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.open {
    background-image: url("../img/open.png");
    background-size: 40px;
}

.save {
    background-image: url("../img/save.png");
    background-size: 35px;
}

.board {
    background-image: url("../img/board.png");
    background-size: 40px;
}

.snapshot {
    background-image: url("../img/snapshot.png");
    background-size: 40px;
}

.zoomIn {
    background-image: url("../img/zoomIn.png");
    background-size: 50px;
}

.zoomScale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.zoomOut {
    background-image: url("../img/zoomOut.png");
    background-size: 50px;
}

.list {
    width: auto; 
    height: auto; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    z-index: 100;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
    width: auto;
    height: 2rem;
    background-color: lightgray;
}

.listItem:first-child {
    padding-right: 5px;
}

.listItem:hover {
    background-color: gray;
}

.listItemControl {
    display: flex;
    justify-content: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    text-align: center;
    overflow: auto;
    resize: both;
}

.event {
    background-color: rgb(255, 255, 159);
}

.command {
    background-color: lightgreen;
}

.aggregate {
    background-color: pink;
}

.condition {
    background-color: lightblue;
}

.context {
    background-color: white;
    border: 3px solid royalblue;
    border-radius: 5px;
}
  
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.order {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
}

.duplicate {
    background-image: url("../img/duplicar.png");
    background-size: 18px;
}

.color {
    background-image: url("../img/cor.png");
    background-size: 20px;
}

.edit {
    background-image: url("../img/pencil.png");
    background-size: 20px;
}

.delete {
    background-image: url("../img/trash.png");
    background-size: 32px;
}

.cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: move;
}

.contextBody {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
}
