body {
    width: 100%;
    height: 100vh;
}

.barraFerramenta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 50px;
    background-color: lightgray;
}

.zoomIn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url("../img/zoomIn.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.zoomIn:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.zoomScale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.zoomOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url("../img/zoomOut.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.zoomOut:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: rgb(255, 255, 159);
    text-align: center;
    overflow: auto;
    resize: both;
}

.command {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: lightgreen;
    text-align: center;
    overflow: auto;
    resize: both;
}

.aggregate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: pink;
    text-align: center;
    overflow: auto;
    resize: both;
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: lightblue;
    text-align: center;
    overflow: auto;
    resize: both;
}

.context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: white;
    border: 3px solid royalblue;
    border-radius: 5px;
    overflow: auto;
    resize: both;
}
  
.cardheader {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
    height: 30px;
    text-align: left;
}

.cardtitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: left;
}

.cardordem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
}

.cardcor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url("../img/cor.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cardeditar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url("../img/pencil.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cardexcluir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url("../img/trash.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.cardbody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: move;
}

.cardbodycontext {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
